# Auth setup following https://www.better-auth.com/docs/installation

BETTER_AUTH_SECRET=ox9etsSyKEWNXcq6MmResJON4cl4GCM1
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

KEYCLOAK_CLIENT_ID=playground-web-client
KEYCLOAK_URL=http://localhost:8081
KEYCLOAK_REALM=playground-local
KEYCLOAK_DISCOVERY_URL=${KEYCLOAK_URL}/realms/${KEYCLOAK_REALM}/.well-known/openid-configuration

# GraphQL backend URL (exposed to browser for WebSocket subscriptions)
NEXT_PUBLIC_API_SERVER_URL=http://localhost:8080

# Local only to help open the code editor on errors
REACT_EDITOR=code